#where to log
logpath=/var/log/mongodb/mongod-config.log

logappend=true

# fork and run in background
fork = true

port = {{ mongod_port }}

dbpath={{ mongodb_datadir_prefix }}configdb
keyFile={{ mongodb_datadir_prefix }}secret
# location of pidfile
pidfilepath = /var/run/mongod.pid

configsvr=true
